{% extends "base.html" %} {% block title %}Summer Countdown{% endblock %} {% block content %}

<div class="text-box"><span class="accent-text">{{ days_left }}</span> days</div>
<div class="text-box"><span class="accent-text">{{ hours_left }}</span> hours</div>
<p class="about-days">
  until summer break! <a href="{{ url_for('summer') }}"><i class="fa-solid fa-arrows-rotate"></i></a>
</p>
<div class="days-left-emojis">{{ '☀️' * days_left }}</div>
<div class="today-completed">
  <label for="today-completed-prog">Schoolday compelted:</label>
  <br />
  <progress max="100" value="{{ workday_completed }}" id="today-completed-prog"></progress>
  <br />
  <p class="today-completed-percent">{{ (workday_completed)|round(2) }}%</p>
</div>
{% endblock %}
